<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to {{appName}}: Your Subscription Confirmation!</title>
  </head>

  <body
    style="
      font-family: &quot;Arial&quot;, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
    "
  >
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      width="600"
      style="
        border-collapse: collapse;
        background-color: #ffffff;
        margin-top: 30px;
      "
    >
      <tr>
        <td style="padding: 0px 40px; text-align: left">
          <h3 style="color: #333333">
            Welcome to {{appName}}: Your Annual Subscription Confirmation!
          </h3>
        </td>
      </tr>
      <tr>
        <td style="padding: 20px 40px; text-align: left">
          <p style="color: #555555; font-size: 16px">Hi {{name}},</p>
          <p style="color: #555555; font-size: 16px">
            Congratulations on securing your Annual Subscription to {{planName}}
            on {{appName}}! 🎉 Your payment of {{planAmount}} has been
            received, and we're excited to have you on board.
          </p>
          <h4 style="color: #333333; margin-top: 20px; margin-bottom: -10px">
            Subscription Details:
          </h4>
          <ul style="margin: 0; padding: 0; margin-left: 20px">
            <li style="margin-bottom: 10px">
              <p><strong>Plan Name</strong>: {{planName}}</p>
            </li>
            <li style="margin-bottom: 10px">
              <p><strong>Valid From</strong>: {{purchaseDate}}</p>
            </li>
            <li style="margin-bottom: 10px">
              <p><strong>Expires On</strong>: {{expiryDate}}</p>
            </li>
          </ul>
          <p style="color: #555555; font-size: 16px">
            We're here to support your creative journey. If you have any
            questions, feel free to reach out.
          </p>
          <p style="color: #555555; font-size: 16px">
            Best Regards,<br />The {{appName}} Team
          </p>
        </td>
      </tr>
    </table>
  </body>
</html>
