<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Welcome to The {{appName}}</title>
</head>

<body style="
      font-family: &quot;Arial&quot;, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
    ">
  <table align="center" cellpadding="0" cellspacing="0" width="600" style="
        border-collapse: collapse;
        background-color: #ffffff;
        margin-top: 30px;
      ">
    <tr>
      <td style="padding: 0px 40px; text-align: left">
        <h3 style="color: #333333">
          Welcome to The {{appName}}
        </h3>
      </td>
    </tr>
    <tr>
      <td style="padding: 20px 40px; text-align: left">
        <p style="color: #555555; font-size: 16px">Hi {{name}},</p>
        <p style="color: #555555; font-size: 16px">
          Welcome to The {{appName}}!
        </p>
        <p style="color: #555555; font-size: 16px">
          We're thrilled to have you on board!
          {{appName}} is designed for fashion professionals like you to connect,
          collaborate, and showcase your portfolio to the world.
          Whether you're a designer, model, stylist, photographer, or creative,
          this is your space to network, grow, and get discovered.
        </p>
        <p style="color: #555555; font-size: 16px">
          Feel free to explore the app, build your portfolio,
          and start connecting with fashion professionals.
          This is your fashion space where opportunities meet creativity.
        </p>
        <p style="color: #555555; font-size: 16px">
          We can't wait to see what you create!
        </p>
        <p style="color: #555555; font-size: 16px">
          Best Regards,
          <br />The {{appName}} Team
        </p>
      </td>
    </tr>
  </table>
</body>

</html>